<h1>New Event</h1>

<div class="row">
  <p>Guidelines for events</p>

  <div class="">
  <%= form_for [@category, @event] do |f| %>
    <div class="">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="">
      <%= f.label :price %>
      <%= f.text_area :price %>
    </div>

    <div class="">
      <%= f.label :category %>
      <%= f.collection_select :category_ids, @categories, :id, :name, prompt: "Select One" %>
    </div>

    <div class="">
      <%= f.submit "Save" %>
    </div>
  <% end %>
  </div>
</div>