<p>Category: <%= @event.categories.first.name %></p>

<h1><%= @event.title %> <small><%= link_to "Edit", edit_category_event_path(@category, @event), class: '' %></small></h1>



<p>Description: <%= @event.body %></p>
<p>Price: <%= @event.price %></p>

<% if @event.venues.first %>
  <p>Venue: <%= @event.venues.first.name %></p>
  <p>Address: <%= @event.venues.first.address %></p>
  <p>Phone: <%= @event.venues.first.phone %></p>
  <p>Website: <%= @event.venues.first.website %></p>
<% end %>